<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545742335119-369585ijbp0s2o6dv1tlbsob6u7ihm28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545742335119-369585ijbp0s2o6dv1tlbsob6u7ihm28</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>545742335119-37rpne8h5m4kfealhdge8fod6n65161c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqamWpidyebBDsUzCro_UCEkS5tc9qROQ</string>
	<key>GCM_SENDER_ID</key>
	<string>545742335119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAuthWithoutAppCheck</string>
	<key>PROJECT_ID</key>
	<string>phoneauthwithoutappcheck</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthwithoutappcheck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545742335119:ios:ca80790203af37309a54fa</string>
</dict>
</plist>